@font-face {
    font-family: MontserratBold;
    src: url("../fonts/Montserrat-Bold.otf") format("opentype");
}

@font-face {
    font-family: MontserratRegular;
    src: url("../fonts/Montserrat-Regular.otf") format("opentype");
}




html, body {
      color: #fff;
  height: 100%;
  font-family: MontserratBold;
}


.vertical-center {
    background-size: cover;
    /* background: #fff url("../landingpage/bg.jpg") no-repeat; */
    background: #fff;
    min-height: 100%;  /* Fallback for vh unit */
    min-height: 100vh; /* You might also want to use
                          'height' property instead.
                          
                          Note that for percentage values of
                          'height' or 'min-height' properties,
                          the 'height' of the parent element
                          should be specified explicitly.
    
                          In this case the parent of '.vertical-center'
                          is the <body> element */

    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    
    /* Align the bootstrap's container vertically */
      -webkit-box-align : center;
    -webkit-align-items : center;
         -moz-box-align : center;
         -ms-flex-align : center;
            align-items : center;
    
    /* In legacy web browsers such as Firefox 9
       we need to specify the width of the flex container */
    width: 100%;
    
    /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
       hence the bootstrap's container won't be aligned to the center anymore.
    
       Therefore, we should use the following declarations to get it centered again */
           -webkit-box-pack : center;
              -moz-box-pack : center;
              -ms-flex-pack : center;
    -webkit-justify-content : center;
            justify-content : center;
  }

.box-container{
  position: relative;
  width: 90%;
  height:  calc(100vh - 50px);;
  background: rgba(255, 255, 255, 0) url(../images/box-background.png) no-repeat fixed center; 
}

.img-aksen{
  position: absolute;
  top: -10%;
  left: -30%;
  width: 70%;
}

.img-logo{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 80px;
}

.img-maskot{
  margin-top:50px;
  width: 50%;
}

.box-sub-cont{
  padding: 0px 0px !important;
}

.box-sub-cont-mid{
  text-align: center !important; 
  margin: 35px 0px 30px !important;
}

.box-btn-submit{
    padding: 0px
  }

.overide-margin-form-group{
  margin-bottom: 0px;
}

/* Zoom In #1 */
.sosmed figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  filter: brightness(60%);
}
.sosmed figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  filter: brightness(100%);
}

.img-sosmed{
 
  margin: 0px 10px;
}

.box-aggrement{
      font-family: MontserratRegular;
      width: 100%;
      height: 100%;
      background-color: rgb(230, 44, 39);
      border: 1px solid #c4c5c7;
      color: #fff;
      padding: 15px 0px;
      font-weight: bold;
      font-size: 12px;
  }

  .box-aggrement > p{
    margin: 1px;
  }

  .title-welcome{
    
    font-size: 26px;

  }

@media (min-width: 768px) {
  .img-sosmed{
    
   
    margin: 0px 10px;
  }


  .vertical-center {
    background-size: cover;
   
    min-height: 100%;  /* Fallback for vh unit */
    min-height: 100vh; /* You might also want to use
                          'height' property instead.
                          
                          Note that for percentage values of
                          'height' or 'min-height' properties,
                          the 'height' of the parent element
                          should be specified explicitly.
    
                          In this case the parent of '.vertical-center'
                          is the <body> element */

    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    
    /* Align the bootstrap's container vertically */
      -webkit-box-align : center;
    -webkit-align-items : center;
         -moz-box-align : center;
         -ms-flex-align : center;
            align-items : center;
    
    /* In legacy web browsers such as Firefox 9
       we need to specify the width of the flex container */
    width: 100%;
    
    /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
       hence the bootstrap's container won't be aligned to the center anymore.
    
       Therefore, we should use the following declarations to get it centered again */
           -webkit-box-pack : center;
              -moz-box-pack : center;
              -ms-flex-pack : center;
    -webkit-justify-content : center;
            justify-content : center;
  }

  .box-sub-cont{
    padding: 0px 100px !important;
  }

  .box-sub-cont-mid{
    text-align: center !important 
    margin: 70px 0px 30px !important;
  }

  .box-container{
    position: relative;
    width: 937px;
    height: 572px;
    background: rgba(255, 255, 255, 0) url(../images/box-background.png) no-repeat fixed center; 
  }

  .img-aksen{
    position: absolute;
    top: -20%;
    left: -20%;
    width: 50%;
  }

  .img-logo{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 150px;
  }

  .img-maskot{
    width: 50%;
  }

  .box-btn-submit{
    padding: 20px 0px
  }

  .overide-margin-form-group{
    margin-bottom: 15px;
  }

  .box-aggrement{
      font-family: MontserratRegular;
      width: 100%;
      height: 100%;
      background-color: rgb(230, 44, 39);
      border: 1px solid #c4c5c7;
      color: #fff;
      padding: 15px 0px;
      font-weight: bold;
      font-size: 12px;
  }

  .box-aggrement > p{
    margin: 1px;
  }

  .direction{
    font-family: MontserratBold;
    font-size: 30px;
    color: #5c5b5b;
  }

  /* Zoom In #1 */
  .sosmed figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    filter: brightness(60%);
  }
  .sosmed figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    filter: brightness(100%);
  }

  .title-register{
    font-family: MontserratBold;
    font-size: 30px;
    color: #fff;
    border-bottom: solid 2px #fff
  }

  .text-det1{
    font-family: MontserratRegular !important;
    font-size: 15px;
    color: #e8e6e6;
  }



  .title-welcome{
    font-family: MontserratBold;
    font-size: 45px;
    color: #fff;
  }
}

